*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    height: 100vh;
}

.background {
    background-image: url('/users/images/bg2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100vh;
}

.kotak {
    width: calc(100% - 10rem);
    height: 85%;
    border-radius: 1rem;
    padding: 1rem;
    margin: auto;
   
}

.vh-100 {
    height: 100vh;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.p-4 {
    padding: 4rem;
}
.p-5 {
    padding: 5rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.m-4 {
    margin: 4rem;
}
.m-5 {
    margin: 5rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}
.mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}
.mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
}
.mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.col-md-12 {
    width: 100%;
    display: flex;
}

.col-md-8 {
    width: 66.666%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.666%;
}

.col-md-4 {
    width: 33.333%;
}

.col-md-3 {
    width: 25%;
}

img {
    max-width: 100%;
}

.color-primary {
    color: #969495;
}

.btn {
    color: #fff;
    background-color: #0069AF;
    padding: 1rem 4rem;
    border: 1px solid #0069AF;
    border-radius: 1rem;
    cursor: pointer;
}

.btn:hover {
    color: #0069AF;
    background-color: transparent;
    border-color: #0069AF;
}